:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: underline;
}
a:hover {
  color: rgb(219,191,255);
}

a:active {
  color: rgb(219,191,255);
}

body {
  scroll-behavior: smooth;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
} */

h2 {
  font-size: 16px;
}

ul {
  list-style: none;
}

.headlineblockLeft{
  /* display: inline; */
  font-family: 'ProtestGroteskBold';
  font-style: italic;
  text-align: left;
  float: left;
  /* font-size:3vw;
  margin-bottom: 10px; */
}

.h1Left{
  display: inline;
  font-family: 'ProtestGroteskBold';
  font-style: italic;
  text-align: left
}

.h2Left{
  display: inline; 
  text-align: left
}

.headlineblockRight{
  /* display: inline; */
  text-align: right;
  float: right;
  clear:right
}

.angebotRight{
  /* display: inline; */
  text-align: right;
  font-family: 'Inter';
  font-style: bold; 
  margin-top: 10px;
  font-size: 12px

}

.logo{
  /* display: inline; */
  text-align: right;
  width: auto;
  height:50px;
  margin-bottom: 10px; 
  margin-top: 10px
}

.logoNM{
  /* display: inline; */
  text-align: right;
  width: 250px;
  font-family: 'ProtestGrotesk';
  margin-bottom: 10px; 
  margin-top: 10px
}

.firstBlock{
  /* width: 90vw; */
  /*border: 1px solid black;*/
  /*backgroundColor: lightgrey; */
  font-family: 'ProtestGrotesk';
  text-align: left;
  line-height: 150%;
  width: 70vw;
}

.secondBlock{
  /* width: 90vw; */
  /*border: 1px solid black;*/
  /*backgroundColor: lightgrey;*/
  font-family: 'Inter';
  background-color: rgb(255,100,0);
  color: white;
  padding: 5px;
  text-align: left ;
}

.tableBlock{
  display: flex;
  /* width: 90vw; */
  /* border: 1px solid black; */
  overflow-y: hidden;
  overflow-x: auto;
}

.mediaTitle{
  font-family: 'Inter';
  font-size: 12px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: black
  /* border: 1px solid black */
}

.mediaTitleP{
  font-family: 'Inter';
  font-size: 12px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-top: -11px;
  color: black
  /* border: 1px solid black */
}

.mediaBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 1000px; */
  margin: 1px;
  /* border: 1px solid black */
}

.mediaContainer{
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  margin: 2px;
  width: 90px;
}

.position{
font-size: 8.69px;
padding-top: 4.5px;
padding-bottom: 4.5px;
margin: 1.9px;
margin-right: auto;
width: 0px;
height: 9.23px;
}

h2 {
  font-family: 'ProtestGrotesk';
  font-size: 22px;
}

.linebeforeabout{
  border: 1px solid rgb(255,100,0);
  width: 100%;
  margin: 16px 0;
}

.abouttext{
  font-family: 'Inter';
  font-size: 14px;
  text-align: left;
  padding: 5px;
  margin: 5px;
  color: black;
  width: 500px;
  /* border: 1px solid black */

}

@font-face {
  font-family: 'ProtestGrotesk'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/02_Web/ProtestGrotesk-100-Regular.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/03_Variable/ProtestGrotesk-100_Regular.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }
 @font-face {
  font-family: 'ProtestGroteskItalic'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/02_Web/ProtestGrotesk-100-RegularItalic.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/03_Variable/ProtestGrotesk-100_Regular+Italic.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }

 
 @font-face {
  font-family: 'ProtestGroteskBold'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-190-Bold+Italic/01_Font\ Files/02_Web/ProtestGrotesk-190-Bold.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-190-Bold+Italic/01_Font Files/03_Variable/ProtestGrotesk-190_Bold+Italic.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }