#root {
  margin: auto;
  padding: 0rem;
  text-align: center;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
} */

h2 {
  font-size: 16px;
}

ul {
  list-style: none;
}

.headlineblockLeft{
  /* display: inline; */
  font-family: 'ProtestGroteskBold';
  font-style: italic;
  text-align: left;
  float: left;
  /* font-size:3vw;
  margin-bottom: 10px; */
}

.h1Left{
  display: inline;
  font-family: 'ProtestGroteskBold';
  font-style: italic;
  text-align: left
}

.h2Left{
  display: inline; 
  text-align: left
}

.headlineblockRight{
  /* display: inline; */
  text-align: right;
  float: right;
  clear:right
}

.angebotRight{
  /* display: inline; */
  text-align: right;
  font-family: 'Inter';
  font-style: bold; 
  margin-top: 10px;
  font-size: 12px

}

.logo{
  /* display: inline; */
  text-align: right;
  width: auto;
  height:50px;
  margin-bottom: 10px; 
  margin-top: 10px
}

.logoNM{
  /* display: inline; */
  text-align: right;
  width: 250px;
  font-family: 'ProtestGrotesk';
  margin-bottom: 10px; 
  margin-top: 10px
}

.firstBlock{
  /* width: 90vw; */
  /*border: 1px solid black;*/
  /*backgroundColor: lightgrey; */
  font-family: 'ProtestGrotesk';
  text-align: left;
  line-height: 150%;
  width: 70vw;
}

.secondBlock{
  /* width: 90vw; */
  /*border: 1px solid black;*/
  /*backgroundColor: lightgrey;*/
  font-family: 'Inter';
  background-color: rgb(255,100,0);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: left ;
}

.tableBlock{
  display: flex;
  /* width: 90vw; */
  /* border: 1px solid black; */
  overflow: auto;
}

.mediaTitle{
  font-family: 'Inter';
  font-size: 12px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: black
  /* border: 1px solid black */
}

.mediaTitleP{
  font-family: 'Inter';
  font-size: 12px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-top: -11px;
  color: black
  /* border: 1px solid black */
}

.mediaBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 1000px; */
  margin: 1px;
  /* border: 1px solid black */
}

.mediaContainer{
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  margin: 2px;
  width: 90px;
}

.position{
position: relative;
font-size: 8.69px;
padding-top: 4.5px;
padding-bottom: 4.5px;
margin: 1.9px;
width: 0px;
height: 9.23px;
}

h2 {
  font-family: 'ProtestGrotesk';
  font-size: 22px;
}

.linebeforeabout{
  color: rgb(255,100,0);
  background-color: rgb(255,100,0);
  width: 95vw;
  height: 1px;
}

.abouttext{
  font-family: 'Inter';
  font-size: 14px;
  text-align: left;
  padding: 5px;
  margin: 5px;
  color: black;
  width: 500px;
  /* border: 1px solid black */

}

@font-face {
  font-family: 'ProtestGrotesk'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/02_Web/ProtestGrotesk-100-Regular.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/03_Variable/ProtestGrotesk-100_Regular.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }
 @font-face {
  font-family: 'ProtestGroteskItalic'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/02_Web/ProtestGrotesk-100-RegularItalic.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-100-Regular+Italic/01_Font Files/03_Variable/ProtestGrotesk-100_Regular+Italic.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }

 
 @font-face {
  font-family: 'ProtestGroteskBold'; /* Gewünschter Name */
  src: 
       url('../fonts/ProtestGrotesk-190-Bold+Italic/01_Font\ Files/02_Web/ProtestGrotesk-190-Bold.woff') 
            format('woff'), 
           /* für moderne Browser */
       url('../fonts/ProtestGrotesk-190-Bold+Italic/01_Font Files/03_Variable/ProtestGrotesk-190_Bold+Italic.ttf') 
            format('truetype');
          /* für Safari, Android, iOS */
 }